<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an appointment</title>
</head>
<body>
    <h1>Make an appointment</h1>
    <form action="{% url 'subscribe:subscribe' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <lable for="client_name">Your name</lable>
        <input type="text" name="client_name"><br>
        <lable for="message">Short description of your issue</lable>
        <input type="text" name="message"><br>
        <lable for="date">Choose time</lable>
        <input type="date" name="date">.<br>
        <input type="submit">
    </form>
</body>
</html>